################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/46d34494-8ae7-473e-bdea-1cd7d0bbb84e.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/9fdafe7f-62ec-45b1-9daa-79fe5dbb6b1f.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/36058a04-34d1-4078-bd46-ca2b13d54f41.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/61dae764-455f-4888-880f-5daf05c6c5fa.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/66ff614a-7dbf-4f26-8d7f-d07b14932e56.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/9980f724-a867-4cd7-b3a7-963c58f91263.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/c76e2fcb-f476-4547-8ff8-131598dca505.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/1b52c060-292a-47a1-9948-04f770c17033.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/4dbc6b97-fe2c-45ca-b8bb-aa8fa31e0f18.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/847ea48b-e9ef-48db-8af8-f3e78553cf6b.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/ed0d7c8d-236c-44a0-b65f-d4c4a619fef8.vsidx
