################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/37930334-723d-4500-9b26-686a82760119.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/4415f739-9319-47cb-86eb-9f2adc72db5a.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/9a61528f-e8b9-486d-b8f2-0640b809a461.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/d5b9fa3c-ccb4-4857-a070-24177f6ff5c7.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/e2477fa7-aa99-4607-9003-35351ad5b101.vsidx
/FinalProj.Domain/.vs/FinalProj.Domain/FileContentIndex/f19794e5-5819-497b-a49f-8f726adb0e2c.vsidx
