@model FinalProj.Application.DTO_s.Venta.VentaDTOAdd

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VentaDTOAdd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numeroVenta" class="control-label"></label>
                <input asp-for="numeroVenta" class="form-control" />
                <span asp-validation-for="numeroVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoDocumentoVenta" class="control-label"></label>
                <input asp-for="idTipoDocumentoVenta" class="form-control" />
                <span asp-validation-for="idTipoDocumentoVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuario" class="control-label"></label>
                <input asp-for="idUsuario" class="form-control" />
                <span asp-validation-for="idUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentoCliente" class="control-label"></label>
                <input asp-for="DocumentoCliente" class="form-control" />
                <span asp-validation-for="DocumentoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpuestoTotal" class="control-label"></label>
                <input asp-for="ImpuestoTotal" class="form-control" />
                <span asp-validation-for="ImpuestoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeUser" class="control-label"></label>
                <input asp-for="ChangeUser" class="form-control" />
                <span asp-validation-for="ChangeUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDate" class="control-label"></label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
